/*Adding some external css to the page*/
body{
    background-color:#eee;
    font-family: 'Times New Roman', Times, serif;
}
#rtf
{
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}
.files_drag_area{
    width: 300px;
    height: 150px;
    border:2px dashed #ccc;
    text-align: center;
    line-height: 150px;
}
.file_drag_over{
    color: #000;
    border-color: #000;
}
#post_button{
    background-color: #ff9933;
    color: #fff;
    border: none;
    width: 100px;
    padding: 6px;
}    
#view_post{
    padding: 15px;
    background-color: #fff;
    height: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}
